.record-logo {
    display: block;
    width: 50px;
}

tr {
    min-height: 50px;
}

table td:not([align]),
table th:not([align]) {
    text-align: inherit;
    vertical-align: middle;

}

.image.is-220x220 {
    width: 220px;
    height: 220px;
}

.plus-button,
.minus-button {
    border: none;
    background-color: #fff;
    font-size: 16px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;


}

.plus-button {

    &:before,
    &:after {
        content: "";
        display: block;
        background-color: #485fc7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover:not([disabled]) {
        background-color: lightgray;
    }

    &:before {
        height: 1em;
        width: 0.2em;
    }

    &:after {
        height: 0.2em;
        width: 1em;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
        border-color: transparent;
        box-shadow: none;
    }
}

.minus-button {
    &:after {
        content: "";
        display: block;
        background-color: #485fc7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        background-color: lightgray;
    }

    &:after {
        height: 0.2em;
        width: 1em;
    }
}

.minus-button--small {
    font-size: 12px;
}

.artist-header {
    display: flex;
    align-items: center;
    justify-content: center
}

.artist-image {
    flex-basis: 40%;

}

.artist-text {
    color: #CD5C5C;
    padding-left: 20px;
    font: italic 10px "Fira Sans", serif;
}

.is-centered {
    align-self: center;
}

.card-description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card {
    min-height: 100%;
}




.tooltip {
    position: relative;
    display: inline-block;

    img {
        &:hover {
            -webkit-filter: blur(4px);
            filter: blur(4px);
        }
    }

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        top: 100%;
        left: 50%;
        margin-left: -60px;

        position: absolute;
        z-index: 1;

        &:after {
            content: " ";
            position: absolute;
            bottom: 100%;

            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }
    }



    .tooltipbutton {
        width: 100px;
        height: 40px;
        visibility: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -50px;
        margin-top: -20px;
        opacity: 0.8;
        border: none;
    }

    .tooltip-two-buttons {
        .tooltipbutton {
            &:first-child {
                margin-top: -40px;
            }

            &:last-child {
                margin-top: 5px;
            }

        }
    }

    &:hover {
        .tooltiptext {
            visibility: visible;
        }

        .tooltipbutton {
            visibility: visible;
        }
    }
}

.picture-field {

    .preview-picture {
        position: absolute;
        height: 200px;
        width: 200px;
        margin-left: 10px;
        margin-top: -10px;
        left: 0;
        z-index: 2;
        visibility: hidden;
    }

    &:hover {
        .preview-picture {

            visibility: visible;
        }
    }


}

.h-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;

    .h-container {
        background-color: white;
        border-radius: 20px;
        display: inline-block;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 45px;
        margin-right: auto;
        margin-left: auto;
    }

    label {
        margin-top: 6px;
        text-align: center;
        font-size: 10px;
        line-height: normal;
        width: auto;

    }

}

#heart {
    font-size: 25px;
    appearance: none;
    color: lightgray;

    &:checked:not(:disabled),
    &:hover:not(:checked):not(:disabled) {
        color: red;
    }

    &:hover:checked:not(:disabled) {
        color: lightgray;
    }

    &:disabled {
        cursor: not-allowed;

    }
}