<% alias ArchinylWeb.Artists.ArtistTableLive %>
<%= live_component(%{
    module: ArtistTableLive,
    id: "artists_table",
    search: @search,
    page_number: @page_number,
    logged_in?: @logged_in?,
    artist_information: @artist_information,
    artist: @artist
    }) %>
