<% alias ArchinylWeb.Artists.LibraryTableLive %>

<%=if assigns[:user_id] do%>
<%= live_component(%{module: LibraryTableLive, id: "collections_table", search_term: @search_term, user_id: @user_id}) %>
<%else %>
<div class="container">
  <article class="message is-danger">
    <div class="message-header">
      <p>Danger</p>
    </div>
    <div class="message-body">
      You are not logged in please log in to see your collections
    </div>
  </article>
</div>
<%end %>
