<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
  <%= live_title_tag  "Archinyl", suffix: " · Phoenix Framework" %>
  <link rel="shortcut icon" href="<%=Routes.static_path(@conn, "/favicon.ico")%>" type="image/x-icon">
  <link rel="icon" href="<%=Routes.static_path(@conn, "/favicon.ico")%>" type="image/x-icon">
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="<%=Routes.static_path(@conn, "/images/phoenix.png")%>" width="150px" height="300px">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

      </div>
      <div class="navbar-end">
        <%= if logged_in?(@conn) do %>
        <a class="navbar-item">
          <p><%= current_user(@conn).email %></p>
        </a>
        <a class="navbar-item">
          <p><%= link "Logout", to: ArchinylWeb.Router.Helpers.session_path(@conn, :delete), method: :delete %></p>
        </a>
        <% else %>
        <a class="navbar-item">
          <p><%= link "Login",    to: "/login" %></p>
        </a>
        <a class="navbar-item">
          <p style="margin-right: 0.5rem">
            <%= link "Register", to: ArchinylWeb.Router.Helpers.registration_path(@conn, :new) %></p>
        </a>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container is-fluid">
    <section class="section">
      <%= @inner_content %>
    </section>
  </div>
</body>

</html>
