<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
  <%= live_title_tag  "Archinyl", suffix: " · Phoenix Framework" %>
  <link rel="shortcut icon" href={Routes.static_path(@conn, "/favicon.ico" )} type="image/x-icon">
  <link rel="icon" href={Routes.static_path(@conn, "/favicon.ico" )} type="image/x-icon">
  <link rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css" )} />
  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/js/app.js" )}></script>
  <link href="./jquery.minipreview.css" rel="stylesheet">
  <script src="./jquery.minipreview.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#p1 a').miniPreview({
        prefetch: 'pageload'
      });
      $('#p2 a').miniPreview({
        prefetch: 'parenthover'
      });
      $('#p3 a').miniPreview({
        prefetch: 'none'
      });
    });
  </script>
  <script src="https://rawgit.com/shaneapen/Image-Preview-for-Links/master/image_preview_for_links.js"></script>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src={Routes.static_path(@conn, "/images/archinyl_logo.png" )} width="60" height="50">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-uppercase has-text-weight-bold">
          <%= live_patch to: Routes.static_path(@conn, "/library"), class: "navbar-item" do %>
          <span class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-archive"></i>
            </span>
            <span>Library</span>
          </span>
          <% end %>
        </a>

        <a class="navbar-item is-uppercase has-text-weight-bold">
          <%= live_patch to: Routes.static_path(@conn, "/records"), class: "navbar-item" do %>
          <span class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-record-vinyl"></i>
            </span>
            <span>Records</span>
          </span>
          <% end %>
        </a>

        <a class="navbar-item is-uppercase has-text-weight-bold">
          <%= live_patch to: Routes.static_path(@conn, "/artists"), class: "navbar-item" do %>
          <span class="icon-text">
            <span class="icon has-text-info">
              <i class="fas fa-users"></i>
            </span>
            <span>Artists</span>
          </span>
          <% end %>
        </a>
      </div>
      <div class="navbar-end">
        <%= if logged_in?(@conn) do %>
        <a class="navbar-item">
          <p><%= current_user(@conn).email %></p>
        </a>
        <a class="navbar-item">
          <%=button("Logout", to: Routes.session_path(@conn, :delete), method: :delete, class: "button is-small") %>
        </a>
        <% else %>
        <a class="navbar-item">
          <%= button("Login", to: "/login", method: :get, class: "button is-small")%>
        </a>
        <a class="navbar-item">
          <%= button("Register", to: Routes.registration_path(@conn, :new), method: :get, class: "button is-small")%>
        </a>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container is-fluid">
    <section class="section">
      <%= @inner_content %>
    </section>
  </div>
</body>

</html>
